[submodule "services/api-gateway"]
	path = services/api-gateway
	url = https://github.com/romain-mezghenna/iwa-api-gateway
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/romain-mezghenna/iwa-api-gateway
[submodule "discovery-service"]
	path = discovery-service
	url = https://github.com/romain-mezghenna/iwa-discovery-service
[submodule "user-service"]
	path = user-service
	url = https://github.com/romain-mezghenna/iwa-user-service
